<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            {% if comment.author %}
            <a href="{{ url_for('main.user', username=comment.author.username) }}">
            <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40)}}">
            </a>
            {% else %}
            <img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename='favicon.ico') }}">
            {% endif %}          
        </div>
        <div class="comment-content">
            <div class="comment-date"> {{ moment(comment.timestamp).format('LLL')}} </div>
            <div class="comment-author">
                {% if comment.author %}
                <a href="{{ url_for('main.user', username=comment.author.username) }}">{{ comment.author.username }}</a>
                {% else %}
                [Deleted account]
                {% endif %}
            </div>
            <div class="comment-body"> 
                {% if comment.disabled %}
                    <p><i>This comment has been disabled by a moderator.</i></p>
                    {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                        <p>{{comment.body}}</p>
                    {% endif %}
                {% else %}
                    <p>{{comment.body}}</p>
                {% endif %}
            </div>
            <div class="comment-footer">
                {% if comment.author == current_user %}
                <a href="{{url_for('main.delete_comment',id=comment.id)}}">
                    <span class="label label-default">Delete</span>
                </a>
                {% endif %}
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                    {% if comment.disabled %}
                    <a class="btn btn-default btn-xs" href="{{ url_for('main.enable', id=comment.id, page=page)}}"><span>Enable</span></a>
                    {% else %}
                    <a class="btn btn-danger btn-xs" href="{{ url_for('main.disable', id=comment.id, page=page)}}"><span>Disable</span></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
